<a href="https://colab.research.google.com/github/michhottinger/DS-Unit-1-Sprint-2-Statistics/blob/master/1_Michelle_Hottinger_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [111]:
### YOUR CODE STARTS HERE
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2019-10-07 23:14:16--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data.3’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.03s

2019-10-07 23:14:17 (592 KB/s) - ‘house-votes-84.data.3’ saved [18171/18171]

In [112]:
import pandas as pd
import numpy as np
df = pd.read_csv('house-votes-84.data',
                 header=None,
                 names=['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa'])
df.shape
df.head(10)

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n            ?
2    democrat                   ?             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y
5    democrat                   n             y  ...     y         y            y
6    democrat                   n             y  ...     y         y            y
7  republican                   n             y  ...     y         ?            y
8  republican                   n             y  ...     y         n            y
9    democrat                   y             y  ...     n         ?            ?

[10 rows x 17 columns]

In [113]:
df= df.replace({'?':np.NaN, 'n':0, 'y':1})

df.head(10)

        party  handicapped-infants  ...  duty-free  south-africa
0  republican                  0.0  ...        0.0           1.0
1  republican                  0.0  ...        0.0           NaN
2    democrat                  NaN  ...        0.0           0.0
3    democrat                  0.0  ...        0.0           1.0
4    democrat                  1.0  ...        1.0           1.0
5    democrat                  0.0  ...        1.0           1.0
6    democrat                  0.0  ...        1.0           1.0
7  republican                  0.0  ...        NaN           1.0
8  republican                  0.0  ...        0.0           1.0
9    democrat                  1.0  ...        NaN           NaN

[10 rows x 17 columns]

In [114]:
df.isnull().sum()

party                     0
handicapped-infants      12
water-project            48
budget                   11
physician-fee-freeze     11
el-salvador-aid          15
religious-groups         11
anti-satellite-ban       14
aid-to-contras           15
mx-missile               22
immigration               7
synfuels                 21
education                31
right-to-sue             25
crime                    17
duty-free                28
south-africa            104
dtype: int64

In [115]:
rep = df[df.party == "republican"]
print(rep.shape)
rep.head()

(168, 17)

         party  handicapped-infants  ...  duty-free  south-africa
0   republican                  0.0  ...        0.0           1.0
1   republican                  0.0  ...        0.0           NaN
7   republican                  0.0  ...        NaN           1.0
8   republican                  0.0  ...        0.0           1.0
10  republican                  0.0  ...        0.0           0.0

[5 rows x 17 columns]

In [116]:
df.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           423.000000     387.000000  ...  407.000000    331.000000
mean              0.442080       0.503876  ...    0.427518      0.812689
std               0.497222       0.500632  ...    0.495327      0.390752
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      1.000000
50%               0.000000       1.000000  ...    0.000000      1.000000
75%               1.000000       1.000000  ...    1.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

In [117]:
rep.describe()

       handicapped-infants  water-project  ...   duty-free  south-africa
count           165.000000     148.000000  ...  156.000000    146.000000
mean              0.187879       0.506757  ...    0.089744      0.657534
std               0.391804       0.501652  ...    0.286735      0.476168
min               0.000000       0.000000  ...    0.000000      0.000000
25%               0.000000       0.000000  ...    0.000000      0.000000
50%               0.000000       1.000000  ...    0.000000      1.000000
75%               0.000000       1.000000  ...    0.000000      1.000000
max               1.000000       1.000000  ...    1.000000      1.000000

[8 rows x 16 columns]

In [118]:
dem = df[df.party == "democrat"]
print(dem.shape)
dem.head(10)

(267, 17)

       party  handicapped-infants  ...  duty-free  south-africa
2   democrat                  NaN  ...        0.0           0.0
3   democrat                  0.0  ...        0.0           1.0
4   democrat                  1.0  ...        1.0           1.0
5   democrat                  0.0  ...        1.0           1.0
6   democrat                  0.0  ...        1.0           1.0
9   democrat                  1.0  ...        NaN           NaN
12  democrat                  0.0  ...        NaN           NaN
13  democrat                  1.0  ...        1.0           NaN
16  democrat                  1.0  ...        0.0           1.0
17  democrat                  1.0  ...        1.0           1.0

[10 rows x 17 columns]

In [119]:
from scipy.stats import ttest_1samp, ttest_ind, ttest_ind_from_stats
rep['handicapped-infants'].mean()

0.18787878787878787

In [120]:
dem['handicapped-infants'].mean()

0.6046511627906976

In [121]:
ttest_1samp(rep['handicapped-infants'], 0, nan_policy='omit')

Ttest_1sampResult(statistic=6.159569669016066, pvalue=5.434587970316366e-09)

In [122]:
ttest_1samp(rep['physician-fee-freeze'], 1, nan_policy='omit')

Ttest_1sampResult(statistic=-1.4185450076223511, pvalue=0.1579292482594923)

In [123]:
#2 sample test uses means of two samples
ttest_ind(rep['handicapped-infants'], dem['handicapped-infants'],
          nan_policy='omit')

Ttest_indResult(statistic=-9.205264294809222, pvalue=1.613440327937243e-18)

In [124]:
#water-project for dems and reps
ttest_ind(rep['water-project'], dem['water-project'], nan_policy='omit')
#large pvalue, small statistic. p > 0.1 so this says that there is a high chance that the data is as extreme as the null and it cannot be rejected.

Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823993485)

In [125]:
dem['water-project'].mean()

0.502092050209205

In [126]:
rep['water-project'].mean()

0.5067567567567568

As seen above, both dems and reps have a similar average on the Water Project.

In [127]:
#The tiny p value means we can reject the null hyp of equal averages for the two groups
ttest_ind(rep['religious-groups'], dem['religious-groups'], nan_policy='omit')

Ttest_indResult(statistic=9.737575825219457, pvalue=2.3936722520597287e-20)

In [128]:
rep['religious-groups'].mean()

0.8975903614457831

In [129]:
ttest_1samp(rep['religious-groups'], 1, nan_policy='omit')

Ttest_1sampResult(statistic=-4.338836636208457, pvalue=2.488389920449274e-05)

In [130]:
dem['religious-groups'].mean()

0.47674418604651164

As seen above, the numbers are very different here

In [131]:
#write a func

def ttest(column_name):
  return ttest_ind(rep[column_name], dem[column_name], nan_policy='omit')

ttest("religious-groups")

Ttest_indResult(statistic=9.737575825219457, pvalue=2.3936722520597287e-20)

In [133]:
import pandas as pd
from google.colab import files
uploaded = files.upload()

In [0]:
import io
df1 = pd.read_csv(io.BytesIO(uploaded['HNP_StatsCountry.csv']))

In [0]:
df1.shape

In [0]:
df1.head(10) #might be interesting

In [135]:
from google.colab import files
uploaded = files.upload()

Saving HNP_StatsCountry-Series.csv to HNP_StatsCountry-Series (1).csv
Saving HNP_StatsCountry.csv to HNP_StatsCountry (2).csv
Saving HNP_StatsData.csv to HNP_StatsData (1).csv
Saving HNP_StatsFootNote.csv to HNP_StatsFootNote (1).csv
Saving HNP_StatsSeries-Time.csv to HNP_StatsSeries-Time (1).csv
Saving HNP_StatsSeries.csv to HNP_StatsSeries (1).csv

In [0]:
stats_time = pd.read_csv(io.BytesIO(uploaded['HNP_StatsSeries-Time.csv'])) #don't need
stats_data = pd.read_csv(io.BytesIO(uploaded['HNP_StatsData.csv']))
stats_series = pd.read_csv(io.BytesIO(uploaded['HNP_StatsSeries.csv'])) #not interesting

In [137]:
stats_data.head(5) #fert rates by country
stats_data.shape

(104377, 64)

In [138]:
stats_data.head(5)
#SP.DYN.TFRT.IN is code for fert rates

  Country Name Country Code  ... 2018 Unnamed: 63
0   Arab World          ARB  ...  NaN         NaN
1   Arab World          ARB  ...  NaN         NaN
2   Arab World          ARB  ...  NaN         NaN
3   Arab World          ARB  ...  NaN         NaN
4   Arab World          ARB  ...  NaN         NaN

[5 rows x 64 columns]

In [139]:
stats_data.dropna(axis=0, how='all')

       Country Name Country Code  ...          2018 Unnamed: 63
0        Arab World          ARB  ...           NaN         NaN
1        Arab World          ARB  ...           NaN         NaN
2        Arab World          ARB  ...           NaN         NaN
3        Arab World          ARB  ...           NaN         NaN
4        Arab World          ARB  ...           NaN         NaN
5        Arab World          ARB  ...           NaN         NaN
6        Arab World          ARB  ...           NaN         NaN
7        Arab World          ARB  ...  6.116547e+01         NaN
8        Arab World          ARB  ...  7.273785e+00         NaN
9        Arab World          ARB  ...  5.231336e+01         NaN
10       Arab World          ARB  ...           NaN         NaN
11       Arab World          ARB  ...           NaN         NaN
12       Arab World          ARB  ...           NaN         NaN
13       Arab World          ARB  ...           NaN         NaN
14       Arab World          ARB  ...           NaN         NaN
15       Arab World          ARB  ...           NaN         NaN
16       Arab World          ARB  ...           NaN         NaN
17       Arab World          ARB  ...           NaN         NaN
18       Arab World          ARB  ...           NaN         NaN
19       Arab World          ARB  ...           NaN         NaN
20       Arab World          ARB  ...           NaN         NaN
21       Arab World          ARB  ...           NaN         NaN
22       Arab World          ARB  ...           NaN         NaN
23       Arab World          ARB  ...           NaN         NaN
24       Arab World          ARB  ...           NaN         NaN
25       Arab World          ARB  ...           NaN         NaN
26       Arab World          ARB  ...           NaN         NaN
27       Arab World          ARB  ...           NaN         NaN
28       Arab World          ARB  ...           NaN         NaN
29       Arab World          ARB  ...           NaN         NaN
...             ...          ...  ...           ...         ...
104347     Zimbabwe          ZWE  ...           NaN         NaN
104348     Zimbabwe          ZWE  ...           NaN         NaN
104349     Zimbabwe          ZWE  ...           NaN         NaN
104350     Zimbabwe          ZWE  ...           NaN         NaN
104351     Zimbabwe          ZWE  ...           NaN         NaN
104352     Zimbabwe          ZWE  ...           NaN         NaN
104353     Zimbabwe          ZWE  ...           NaN         NaN
104354     Zimbabwe          ZWE  ...           NaN         NaN
104355     Zimbabwe          ZWE  ...           NaN         NaN
104356     Zimbabwe          ZWE  ...           NaN         NaN
104357     Zimbabwe          ZWE  ...           NaN         NaN
104358     Zimbabwe          ZWE  ...           NaN         NaN
104359     Zimbabwe          ZWE  ...           NaN         NaN
104360     Zimbabwe          ZWE  ...           NaN         NaN
104361     Zimbabwe          ZWE  ...           NaN         NaN
104362     Zimbabwe          ZWE  ...           NaN         NaN
104363     Zimbabwe          ZWE  ...  5.428000e+00         NaN
104364     Zimbabwe          ZWE  ...  4.420000e+00         NaN
104365     Zimbabwe          ZWE  ...  4.915000e+00         NaN
104366     Zimbabwe          ZWE  ...           NaN         NaN
104367     Zimbabwe          ZWE  ...  4.650663e+06         NaN
104368     Zimbabwe          ZWE  ...  3.220900e+01         NaN
104369     Zimbabwe          ZWE  ...  1.323892e+00         NaN
104370     Zimbabwe          ZWE  ...           NaN         NaN
104371     Zimbabwe          ZWE  ...           NaN         NaN
104372     Zimbabwe          ZWE  ...           NaN         NaN
104373     Zimbabwe          ZWE  ...           NaN         NaN
104374     Zimbabwe          ZWE  ...           NaN         NaN
104375     Zimbabwe          ZWE  ...           NaN         NaN
104376     Zimbabwe          ZWE  ...  5.980000e+01         NaN

[104377 rows x 64 columns]

In [0]:
stats_data[stats_data['Indicator Code'] == 'SP.DYN.TFRT.IN'].head(20)
stats_fert = stats_data[stats_data['Indicator Code'] == 'SP.DYN.TFRT.IN']

In [141]:
stats_fert.shape
stats_fert.head(40)
stats_fert.shape

(259, 64)

In [160]:
fert = stats_fert.drop(['2018', 'Unnamed: 63', 'Country Code', 'Indicator Name', 'Indicator Code'], axis=1)
fert.shape
fert.dtypes

Country Name     object
1960            float64
1961            float64
1962            float64
1963            float64
1964            float64
1965            float64
1966            float64
1967            float64
1968            float64
1969            float64
1970            float64
1971            float64
1972            float64
1973            float64
1974            float64
1975            float64
1976            float64
1977            float64
1978            float64
1979            float64
1980            float64
1981            float64
1982            float64
1983            float64
1984            float64
1985            float64
1986            float64
1987            float64
1988            float64
1989            float64
1990            float64
1991            float64
1992            float64
1993            float64
1994            float64
1995            float64
1996            float64
1997            float64
1998            float64
1999            float64
2000            float64
2001            float64
2002            float64
2003            float64
2004            float64
2005            float64
2006            float64
2007            float64
2008            float64
2009            float64
2010            float64
2011            float64
2012            float64
2013            float64
2014            float64
2015            float64
2016            float64
2017            float64
dtype: object

In [161]:
fert.tail(5)

                 Country Name   1960   1961   1962  ...   2014   2015   2016   2017
102479  Virgin Islands (U.S.)  5.615  5.651  5.679  ...  2.090  2.110  2.090  2.080
102882     West Bank and Gaza    NaN    NaN    NaN  ...  4.067  3.955  3.844  3.738
103285            Yemen, Rep.  7.938  7.962  7.991  ...  4.214  4.103  3.994  3.890
103688                 Zambia  7.115  7.169  7.214  ...  5.026  4.918  4.814  4.718
104091               Zimbabwe  7.158  7.215  7.267  ...  3.974  3.896  3.804  3.707

[5 rows x 59 columns]

In [162]:
euro = fert[fert['Country Name'] == "Euro area"]
euro.head(5)

     Country Name      1960      1961  ...     2015      2016      2017
2938    Euro area  2.600935  2.632849  ...  1.54983  1.566814  1.561489

[1 rows x 59 columns]

In [163]:
usa = fert[fert['Country Name'] == "United States"]
usa.head(5)
usa.describe()
#why is std column all NaN? it must equal zero!

        1960  1961   1962   1963  1964  ...    2013    2014    2015    2016    2017
count  1.000  1.00  1.000  1.000  1.00  ...  1.0000  1.0000  1.0000  1.0000  1.0000
mean   3.654  3.62  3.461  3.319  3.19  ...  1.8575  1.8625  1.8435  1.8205  1.7655
std      NaN   NaN    NaN    NaN   NaN  ...     NaN     NaN     NaN     NaN     NaN
min    3.654  3.62  3.461  3.319  3.19  ...  1.8575  1.8625  1.8435  1.8205  1.7655
25%    3.654  3.62  3.461  3.319  3.19  ...  1.8575  1.8625  1.8435  1.8205  1.7655
50%    3.654  3.62  3.461  3.319  3.19  ...  1.8575  1.8625  1.8435  1.8205  1.7655
75%    3.654  3.62  3.461  3.319  3.19  ...  1.8575  1.8625  1.8435  1.8205  1.7655
max    3.654  3.62  3.461  3.319  3.19  ...  1.8575  1.8625  1.8435  1.8205  1.7655

[8 rows x 58 columns]

In [164]:
swe = fert[fert['Country Name'] == "Sweden"]
swe.head(5)
swe.describe()

       1960  1961  1962  1963  1964  1965  ...  2012  2013  2014  2015  2016  2017
count  1.00  1.00  1.00  1.00  1.00  1.00  ...  1.00  1.00  1.00  1.00  1.00  1.00
mean   2.17  2.21  2.25  2.33  2.47  2.39  ...  1.91  1.89  1.88  1.85  1.85  1.85
std     NaN   NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN
min    2.17  2.21  2.25  2.33  2.47  2.39  ...  1.91  1.89  1.88  1.85  1.85  1.85
25%    2.17  2.21  2.25  2.33  2.47  2.39  ...  1.91  1.89  1.88  1.85  1.85  1.85
50%    2.17  2.21  2.25  2.33  2.47  2.39  ...  1.91  1.89  1.88  1.85  1.85  1.85
75%    2.17  2.21  2.25  2.33  2.47  2.39  ...  1.91  1.89  1.88  1.85  1.85  1.85
max    2.17  2.21  2.25  2.33  2.47  2.39  ...  1.91  1.89  1.88  1.85  1.85  1.85

[8 rows x 58 columns]

In [165]:
#pick two countries to compare using function from top of page
from scipy.stats import ttest_1samp, ttest_ind, ttest_ind_from_stats
def ttest(column_name):
  return ttest_ind(usa[column_name], swe[column_name])

ttest("2016")
#this won't work because they aren't "trials" so each country has their own data

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:3367: RuntimeWarning: Degrees of freedom <= 0 for slice
  **kwargs)
/usr/local/lib/python3.6/dist-packages/numpy/core/_methods.py:132: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

Ttest_indResult(statistic=nan, pvalue=nan)

In [168]:
ttest_ind(fert['2016'], fert['2015'],
          nan_policy='omit')]
#there we go, we need to compare years, not countries to to the ttest
#I need to better understand the math so I apply it properly!

Ttest_indResult(statistic=-0.2111234161424914, pvalue=0.8328803844261299)

In [0]:
#usa.isnull().sum()
#swe.isnull().sum()
#no null values all integers
#Need to find out why ttest is not running on this data